::-webkit-scrollbar {
  background: #000;
  cursor: pointer;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
  border-radius: 25px;
}

.alertmess {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.footer {
  position: relative;
  margin-bottom: -20px;
}

.main-con {
  min-height: 85vh;
}

.instruction {
  font-size: 12px;
}

.link {
  color: blueviolet;
  cursor: pointer;
}

.card-title a {
  text-decoration: none;
  color: rgb(244, 67, 103);
  cursor: pointer;
}

.card img {
  height: 210px;
  width: auto;
}

.carousel-item img {
  height: 25em;
}

@media only screen and (max-width: 1000px) {
  .carousel-item img {
    height: 22em;
  }

  .card img {
    height: 210px;
  }
}

@media only screen and (max-width: 900px) {
  .carousel-item img {
    height: 19em;
  }
  .card img {
    height: 205px;
  }
}

@media only screen and (max-width: 800px) {
  .carousel-item img {
    height: 17em;
  }
  .card img {
    height: 205px;
  }
}

@media only screen and (max-width: 700px) {
  .carousel-item img {
    height: 16em;
  }
  .card img {
    height: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel-item img {
    height: 15em;
  }
  .card img {
    height: 195px;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-item img {
    height: 10em;
  }
  .card img {
    height: 195px;
  }
}

@media only screen and (max-width: 400px) {
  .carousel-item img {
    height: 9em;
  }
  .card img {
    height: 195px;
  }
}

/*  login status display */
.username {
  position: relative;
  display: inline-block;
  background-color: rgba(244, 244, 244, 0.274);
  color: #fff;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  border-radius: 15px;
  height: 45px;
  width: auto;
}

.username span {
  color: rgb(220, 0, 95);
  font-weight: 500;
  margin-top: 15px;
}
.username p {
  font-weight: 350;
  font-size: 15px;
}

.username .useremail {
  font-size: 12px;
  color: rgb(210, 210, 210);
  margin-left: 15px;
  margin-top: -20px;
}
